<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to HOME PAGE!</h1>

<div>
    <!--Блок для авторизованных -->
    <div sec:authorize="isAuthenticated()">
        <p>
            | Logged user: <span sec:authentication="name"></span>
            | Roles: <span sec:authentication="principal.authorities"></span> |
        </p>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Sign Out"/>
        </form>
        <h4><a href="/user">Мои данные</a></h4>
    </div>
    <!--Блок для НЕ авторизованных -->
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>
    <!--Блок для админа -->
    <div sec:authorize="hasRole('ADMIN')">
        <h4><a href="/admin">Пользователи</a></h4>
    </div>
</div>

</body>
</html>